.perspective {
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
}

.front,
.back {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
